<a href="https://colab.research.google.com/github/jrmaza/machine-learning/blob/main/pokemon_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
url_pokemon='https://raw.githubusercontent.com/jrmaza/datasets/main/pokemon.csv'

In [12]:
import pandas as pd

In [24]:
pokemon = pd.read_csv(url_pokemon)

In [ ]:
pokemon

In [26]:
pokedf = pokemon.drop(['#','Name','Type 1', 'Type 2','Generation'],axis=1)

In [27]:
pokedf['Legendary'] = pokedf['Legendary'].map({True: 1, False: 0})

In [28]:
pokedf

     Total  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Legendary
0      318  45      49       49       65       65     45          0
1      405  60      62       63       80       80     60          0
2      525  80      82       83      100      100     80          0
3      625  80     100      123      122      120     80          0
4      309  39      52       43       60       50     65          0
..     ...  ..     ...      ...      ...      ...    ...        ...
795    600  50     100      150      100      150     50          1
796    700  50     160      110      160      110    110          1
797    600  80     110       60      150      130     70          1
798    680  80     160       60      170      130     80          1
799    600  80     110      120      130       90     70          1

[800 rows x 8 columns]

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
x = pokedf.drop(['Legendary'], axis=1)

In [31]:
y = pokedf.loc[:,'Legendary']

In [33]:
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.85, random_state=42)

In [ ]:
# Logistic Regression

from sklearn import LogisticRegression
lr = LogisticRegression() 
lr.fit(x_train, y_train)  
y_pred = lr.predict(x_test)
score = lr.score(x_train, y_train)
print('Training Score:', score)
score = lr.score(x_test, y_test)
print('Testing Score:', score)

import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test,y_pred)
class_names = [0,1]
fig,ax = plt.subplots()
tick_marks = np.arange(len(class_names))
plt.xticks(tick_marks,class_names)
plt.yticks(tick_marks,class_names)
sns.heatmap(pd.DataFrame(confusion_matrix), annot = True, cmap = 'Greens', fmt = 'g')
ax.xaxis.set_label_position('top')
plt.tight_layout()
plt.title('Confusion matrix for logistic regression')
plt.ylabel('Actual label')
plt.xlabel('Predicted label')
plt.show()

In [ ]:
# Decision Tree

from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(max_depth=5) #detemrinar el max_depth apropiado
dt.fit(x_train, y_train)  
y_pred = dt.predict(x_test)
score = dt.score(x_train, y_train)
print('Training Score:', score)
score = dt.score(x_test, y_test)
print('Testing Score:', score)

In [ ]:
# Decision Tree

from sklearn.tree import DecisionTree
dt = DecisionTree(max_depth=5) #determinar el mejor max_depth 
dt.fit(x_train, y_train)  
y_pred = dt.predict(x_test)
score = dt.score(x_train, y_train)
print('Training Score:', score)
score = dt.score(x_test, y_test)
print('Testing Score:', score)

confusion_matrix = confusion_matrix(y_test,y_pred)
class_names = [0,1]
fig,ax = plt.subplots()
tick_marks = np.arange(len(class_names))
plt.xticks(tick_marks,class_names)
plt.yticks(tick_marks,class_names)
sns.heatmap(pd.DataFrame(confusion_matrix), annot = True, cmap = 'Greens', fmt = 'g')
ax.xaxis.set_label_position('top')
plt.tight_layout()
plt.title('Confusion matrix for logistic regression')
plt.ylabel('Actual label')
plt.xlabel('Predicted label')
plt.show()

In [ ]:
from sklearn.ensemble import RandomForestClassifier
random_forest = RandomForestClassifier(n_estimators=100, max_depth=5) # , max_depth=5, random_state=1
random_forest.fit(x_train, y_train)
y_pred = random_forest.predict(x_test)
score = random_forest.score(x_train, y_train)
print('Training Score:', score)
score = random_forest.score(x_test, y_test)
print('Testing Score:', score)
confusion_matrix = confusion_matrix(y_test,y_pred)
class_names = [0,1]
fig,ax = plt.subplots()
tick_marks = np.arange(len(class_names))
plt.xticks(tick_marks,class_names)
plt.yticks(tick_marks,class_names)
sns.heatmap(pd.DataFrame(confusion_matrix), annot = True, cmap = 'Greens', fmt = 'g')
ax.xaxis.set_label_position('top')
plt.tight_layout()
plt.title('Confusion matrix for logistic regression')
plt.ylabel('Actual label')
plt.xlabel('Predicted label')
plt.show()

In [ ]:
from sklearn.svm import SVC
from sklearn.metrics import classification_report,confusion_matrix

svc_model=SVC()
svc_model.fit(x_train,y_train)

y_predict=svc_model.predict(x_test)

cm=confusion_matrix(y_test,y_predict)
sns.heatmap(cm,annot=True)
plt.ioff()
##
#from sklearn.preprocessing import MinMaxScaler
#sc=MinMaxScaler(feature_range=(0,1))
#x_train_scaled=sc.fit_transform(x_train)
#x_test_scaled=sc.fit_transform(x_test)